# build
target/
build/
pb_data/
node_modules/

# dev folders
.venv/
.devenv*
devenv.local.nix
.direnv
.pre-commit-config.yaml

# dotenv environment variable files
.env
.env.*
!.env.example
!.env.test

# finder (MacOS) folder config -- argh!
.DS_Store
Thumbs.db

# other potential frontend related output files
.output
.vercel
.netlify
.wrangler
.svelte-kit
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# swift development related settings files
*.xcworkspace
xcuserdata/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcuserstate
